<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Products</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul id="product-list">
        {{#each products}}
            <li>{{this.title}} - {{this.description}} - {{this.code}} - ${{this.price}} - {{this.stock}} - {{this.category}}</li>
        {{/each}}
    </ul>

    <h2>Agregar Producto</h2>
    <form id="add-product-form">
        <input type="text" id="title" placeholder="Título" required>
        <input type="text" id="description" placeholder="Descripción" required>
        <input type="text" id="code" placeholder="Código" required>
        <input type="number" id="price" placeholder="Precio" required>
        <input type="number" id="stock" placeholder="Stock" required>
        <input type="text" id="category" placeholder="Categoría" required>
        <button type="submit">Agregar Producto</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        // Capturar el formulario y manejar el envío
        document.getElementById('add-product-form').addEventListener('submit', function(e) {
            e.preventDefault();
            const product = {
                title: document.getElementById('title').value,
                description: document.getElementById('description').value,
                code: document.getElementById('code').value,
                price: document.getElementById('price').value,
                stock: document.getElementById('stock').value,
                category: document.getElementById('category').value,
            };
            console.log("Enviando producto:", product);
            socket.emit('addProduct', product);
        });

        // Escuchar el evento para actualizar la lista de productos
        socket.on('updateProductList', (products) => {
            const productList = document.getElementById('product-list');
            productList.innerHTML = '';
            products.forEach(product => {
                const li = document.createElement('li');
                li.textContent = `${product.title} - ${product.description} - ${product.code} - $${product.price} - ${product.stock} - ${product.category} `;
                productList.appendChild(li);
            });
        });
    </script>
</body>
</html>

